# =============================================================================
#                    Author: Florent TOURNOIS | License: MIT                   
# =============================================================================
# .coveragerc
[run]
branch = True
parallel = False
source =
    pymdtools
omit =
    */tests/*
    */_about.py
    */version.py

[report]
show_missing = True
skip_covered = True
precision = 2
fail_under = 100

exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    if __name__ == .__main__.:
    raise NotImplementedError
