# ===============================================================================
#                 Author: Florent TOURNOIS | License: MIT
# ===============================================================================
# -----------------------------------------------------------------------------
# All dependency of the project
# -----------------------------------------------------------------------------
markdown
pdfkit
PyPDF2
translate
upref
beautifulsoup4
python-dateutil
chardet
unidecode
markdownify