# ===============================================================================
#                 Author: Florent TOURNOIS | License: MIT
# ===============================================================================

# -----------------------------------------------------------------------------
# All dependency of the project for devs
# -----------------------------------------------------------------------------
-r requirements.txt
vulture
twine
pytest>=7.0
pytest-cov
