# ===============================================================================
#                 Author: Florent TOURNOIS | License: MIT
# ===============================================================================

# All dependency of the project for devs
# -----------------------------------------------------------------------------
sphinx
sphinx_rtd_theme
m2r
breathe
exhale
pdfkit
markdown
url_normalize
PyPDF2